name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: nuget/setup-nuget@v2

      - name: Install external dependencies
        run: |
          nuget install MSBuildTasks -Version 1.5.0.235
          nuget install NUnit.Runners -Version 2.6.7

      - name: Install project dependencies
        run: nuget restore ConnectorFramework.sln

      - name: Build project
        run: msbuild ConnectorFramework.sln /p:Configuration=Release

      - name: Upload built artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wrenicf-dotnet-framework
          path:  |
            ServiceInstall\bin\Release\openicf-*.zip
            ServiceInstall\bin\Release\openicf-*.msi
